h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  outline: none;
  text-decoration: none;
}
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

body {
  /* background-color: rgb(13, 64, 131); */
  background-color: rgba(0, 3, 190, 0.5);
  color: white;
  margin: 0;
  padding: 20px;
}

.appHeading {
  padding-left: 10px;
  color: white;
  font-size: 28px;
}
